<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings/>
  <!--<location path="SignUpp.aspx">-->
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="SignIn.aspx"  defaultUrl="~/MyProfile.aspx"/>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>

      <sessionState mode="InProc" timeout="20"/>

      <compilation debug="true" targetFramework="4.0">
        <assemblies>
          <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
          <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        </assemblies>
      </compilation>
      <httpRuntime/>
    </system.web>
 
  <connectionStrings>
    <add name="constring" connectionString="server=HP-PC; database=alumni; uid=sa; pwd=sql" />
    <add name="alumniConnectionString" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString2" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString3" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString4" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString5" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString6" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString7" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString8" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString9" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
    <add name="alumniConnectionString10" connectionString="Data Source=HP-PC;Initial Catalog=alumni;User ID=sa;Password=sql"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>